* {
  box-sizing: border-box;
}
html, body {
  margin: 0px;
  padding: 0px;
  font-family: "tahoma";
  font-size: 13px;
  line-height: 1.3;
  font-weight: 300;
  color: #ffffff;
  background: url('/assets/images//img-bg.jpg') no-repeat center top #1b1b23;
  min-height: 100%;
  overflow-x: hidden;
}
@font-face {
  font-family: "ttm_hydishengyingxiongti";
  src: url("/assets/fonts/ttm_hydishengyingxiongti.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: "tahoma";
  src: url("/assets/fonts/tahoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}
a {
  text-decoration: unset;
  color: unset;
}
p {
  margin: 0px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1029px;
  margin: 0 auto;
}
.frame-1 {
  overflow-x: hidden !important;
  background-position: center top;
  overflow-y: hidden;
  padding-bottom: 50px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}
.frame-2 > .container {
  max-width: 1300px;
}
.flash {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
#canvas_f2 {
  width: 820px;
  height: 722px;
  left: -118%;
  top: -53%;
  position: relative;
}
.arrow {
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}
.flash canvas#canvas {
    width: 1920px;
    height: 1486px;
}
@media only screen and (max-width: 1600px) {
  .flash canvas#canvas {
    width: 1600px;
    height: 1238px;
  }
}
.flash canvas {
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(0);
    z-index: 2;
    position: absolute;
}
.d-block {
  display: block;
}
.nav {
  display: flex;
}
.nav-item {
  font-size: 13px;
  color: #f6e3a1;
  text-transform: uppercase;
  margin-left: 5px;
  text-decoration: none;
  text-shadow: 2px 1px 0 #000, 1px -2px 0 #000, -1px 2px 0 #000, -1px -2px 0 #000, 2px -1px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000, -2px -1px 0 #000, 1px 2px 0 #000, -2px 1px 0 #000;
}
.m-0 {
  margin: 0px
}
.slogan {
  text-align: center;
  margin: 8% auto 0;
  width: 257px;
  height: 334px;
}
.slogan img {
  display: none;
}
.arrow-wraper {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
  margin-top: 40px;
  margin-bottom: 80px;
}
.arrow {
  /* transform: rotate(180deg); */
}
.right-panel{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  transition: all 0.5s ease;
  background: url('/assets/images/bg-aside.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 230px;
  height: 609px;
  padding: 0 3.3rem;
  z-index: 10;
}
#swipper:checked ~ .right-panel {
  transform: translateX(200px) translateY(-50%);
}
.right-panel-content{
  padding-top: 120px;
  padding-bottom: 70px;;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.right-panel-content-item {
  width: 143px;
  height: 145px;
  margin-left: auto;
  margin-right: auto;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.btn-type3 {
  background: url('/assets/images/bg-type3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 143px;
  height: 51px;
  transition: 0.5s all;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'ttm_hydishengyingxiongti';
  text-align: center;
}
.btn-type2 {
  background: url('/assets/images/bg-type2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 143px;
  height: 41px;
  transition: 0.5s all;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ttm_hydishengyingxiongti';
}
.color-yellow-200 {
  color: #fde68a;
}
.btn-type3 > .icon {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;

  margin-right: 10px;
  margin-left: 10px;
}
.icon.appstore {
  background: url('/assets/images/appstore.webp');
}
.icon.ggplay {
  background: url('/assets/images/ggplay.webp');
}
.icon.pc {
  background: url('/assets/images/pc.png');
}
.btn-type3 > .ggplay {
  width: 31px;
  height: 33px;
}
.btn-type3 > .appstore {
  width: 29px;
  height: 32px;
}
.btn-type3 > .pc {
  width: 32px;
  height: 30px;
}
.btn-swipper {
  background: url('/assets/images/btn-swiper.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 110px;
  left: -90px;
  cursor: pointer;
  z-index: 3;
}
.frame-2 {
  background: url('/assets/images/bg-frame2.webp');
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper-frame-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

}
.wrapper-frame-2 > .wrapper-frame-item {
  background: url('/assets/images/bg-frame2-content.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 600px;
    /* height: 378px; */
    padding: 10px;
}
.wrapper-frame-item > .header {
  display: flex;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}
.wrapper-frame-item > .header > .header-item {
  font-family: 'ttm_hydishengyingxiongti';
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapper-frame-item > .header > .header-item:not(:nth-child(1)) {
  margin-left: 10px;
}
.btn-type4 {
  background-image: url('/assets/images/bg-type4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 130px;
  height: 51px;
  transition: .5s all;
}
.tab-body {
  display: none;
}
.item-news {
  display: flex;
  padding: 15px 10px;
  overflow: hidden;
  transition: all 0.25s;
}
.item-news:hover {
  background-color: #734e33;
}
.flex-auto {
  flex: 0 0 auto;
}
.flex-1 {
  flex: 1 1 auto;
}
.clip-type {
  width: 20px;
  height: 20px;
  background-color: #fef5c8;
  clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);
  margin-right: 10px;
}
.content-news {
  overflow: hidden;
}
.content-news > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.4rem;
}
.news-type {
  font-weight: bold;
  color: #ffe4a8
}
.news-time {
  font-size: 1.2rem;
}
#all:checked ~ .header > .header-item[for="all"] {
  background-image: url('/assets/images/bg-type4-hv.webp');
}
#all:checked ~ .body > .tab-body[attr-data="all"] {
  display: block;
}
#news:checked ~ .header > .header-item[for="news"] {
  background-image: url('/assets/images/bg-type4-hv.webp');
}
#news:checked ~ .body > .tab-body[attr-data="news"] {
  display: block;
}
#event:checked ~ .header > .header-item[for="event"] {
  background-image: url('/assets/images/bg-type4-hv.webp');
}
#event:checked ~ .body > .tab-body[attr-data="event"] {
  display: block;
}
#guide:checked ~ .header > .header-item[for="guide"] {
  background-image: url('/assets/images/bg-type4-hv.webp');
}
#guide:checked ~ .body > .tab-body[attr-data="guide"] {
  display: block;
}
.slide {
  display: flex;
  transition: all 0.5s;
}
.slide-item {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.slide-item > img {
  object-fit: fill;
  width: 100%;
}
.slide-wrapper {
  position: relative;
}
.content-slide {
  width: 100%;
  overflow: hidden;
}
.prev-slide, .next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  cursor: pointer;
  background-image: url('/assets/images/arrow-slide.webp');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.prev-slide {
  left: 0px;
}
.next-slide {
  right: 0px;
  transform: translateY(-50%) scaleX(-1);
}
.suppor-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.suppor-wrapper > *:not(:nth-child(1)) {
  margin-left: 100px;
}
.support-item {
  display: block;
  width: 188px;
  height: 217px;
  position: relative;
  transition: .5s all;
}
.support-item:hover {
  transform: translateY(-20px);
}
.frame-3 {
  position: relative;
  padding-bottom: 150px;
}
.frame-3 >  .container {
  padding-top: 10px;
  max-width: 770px;
}
.frame-3 .prev-slide , .frame-3 .next-slide {
  background-image: url('/assets/images/btn-swiper.png');
}
.frame-3 .prev-slide{
  left: 20px;
  transform: translateX(-100%);
}
.frame-3 .next-slide{
  right: 20px;
  transform: translateX(100%) scaleX(-1);
}
.frame-3 .slide img {
  border-color: #000;
  border-style: solid;
  border-width: 2px;
}
.frame-3 .badge-title {
  display: flex;
  align-items: center;
  color: #063c3b;
  justify-content: center;
  position: absolute;
  font-size: 2rem;
  top: 0px;
  width: 456px;
  height: 67px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: url('/assets/images/title-frame.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  font-family: 'ttm_hydishengyingxiongti';
  text-transform: uppercase;
}
.footer {
  background: url('../images/img-bg-info.png') no-repeat center top;
  width: 100%;
  height: 510px;
  margin-top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer .container {
  width: max-content;
}
.footer .info {
  margin-top: 10px;
  display: flex;
}
.footer .logo {
  position: relative;
}
.footer .line {
  background: url('/assets/images/img-line.png') no-repeat;
  width: 4px;
  margin: 0px 20px;
  display: block;
  background-size: contain;
}
.footer .info .text-1{
  font-size: 2rem;
}
.footer .info .text-2{
  margin-top: 10px;
  font-size: 1.5rem;
}
.download {
  display: flex;
  margin-top: 20px;
}
.download-item {
  background: url(../images/img-bnt-two-hover.png) no-repeat;
}
.download-item {
  width: 269px;
  height: 86px;
  text-align: center;
  font-size: 38px;
  line-height: 86px;
  text-transform: uppercase;
  color: #fff2da;
  background-size: 100% 100%;
}
.download-item:hover {
  background: url('/assets/images/img-bnt-two.png') no-repeat;
}
.download-item:not(:nth-child(1)){
  margin-left: 10px;
}
.footer-2 {
  height: 185px;
  width: 100%;
  background: url('/assets/images/bg-footer.png') no-repeat center top;
  margin-top: -103px;
  position: relative;
  z-index: 3;
}
.footer-2 {
  display: flex;
  align-items: center;
  justify-content: center;

}
.footer-2 .info .text-1 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #550f00;
  line-height: 35px;
  display: block;
}
.footer-2 .info .text-2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #550f00;
  line-height: 35px;
  display: block;
}
.date .container {
  max-width: 1300px;
}
.date {
  background: url('/assets/images/img-bg-tinhnang.jpg') no-repeat;
  position: relative;
  height: 0;
  opacity: 0;
  z-index: 1;
  width: 100%;
  transition: all 0.5s ease;
  overflow: hidden;
  z-index: -1;
}
#date:checked ~ .frame-1 {
  padding-bottom: 0px;
}
#date:checked ~ .frame-1 .date {
  opacity: 1;
  transition: all 0.5s ease;
  height: 100%;
  z-index: 1;
}
.date .title {
  width: 12px;
  height: 107px;
  background: url('/assets/images/img-bg-title.png') no-repeat center;
  margin: auto;
  text-align: center;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
  width: 300px;
}
.date .title:before, .date .title::after {
  content: "";
  width: 55px;
  height: 107px;
  background: url('/assets/images/img-sach.png') no-repeat center;
  display: block;
  position: absolute;
  top: 0;
}
.date .title::before {
  left: -49px;
}
.date .title::after {
  right: -49px;
  transform: scaleX(-1);
  background-size: contain;
}
.date .title .text {
  font-size: 33px;
  color: #851015;
  line-height: 100px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.8s ease;
  background: linear-gradient(to bottom, #dd3e36 40%, #9f0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.plan {
  margin: auto;
  margin-top: 70px;
}
.plan-item {
  width: 148px;
  height: 164px;
  background: url('/assets/images/img-bg-nhanvat.png') no-repeat;
  display: inline-block;
  position: relative;
}
.plan-item {
  margin: 0 5px 30px 50px;
}
.plan-item::before {
  content: '';
  width: 82px;
  height: 170px;
  display: block;
  position: absolute;
  top: -24px;
  left: -25px;
}
.plan-item:hover {
  animation: MoveUpDown 1.5s linear infinite;
}
@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
      bottom: 30px;
  }
}

.plan-item-1::before {
  background: url('/assets/images/img-nhanvat-1.png') no-repeat;
}
.plan-item-2::before {
  background: url('/assets/images/img-nhanvat-2.png') no-repeat;
}
.plan-item-3::before {
  background: url('/assets/images/img-nhanvat-3.png') no-repeat;
}
.plan-item-4::before {
  background: url('/assets/images/img-nhanvat-4.png') no-repeat;
}
.plan-item-5::before {
  background: url('/assets/images/img-nhanvat-5.png') no-repeat;
}
.plan-item-6::before {
  background: url('/assets/images/img-nhanvat-6.png') no-repeat;
}
.plan-item-text, .plan-item::after {
  font-size: 22px;
  width: 70px;
  color: #851015;
  background: linear-gradient(to bottom, #dd3e36 40%, #9f0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  margin-top: 7px;
  position: absolute;
  right: 10px;
  z-index: 2;
}
.plan-item::after
{
  background: none;
  content: attr(data-text);
  right: 10px;
  position: absolute;
  text-shadow: 0px 2px 1px rgb(0 0 0 / 70%);
  top: 0;
  z-index: 0;
}
.sm-flex {
  display: none;
}
.header-mb {
  background: url('/assets/images/bg-header-mb.png') center top no-repeat;
  background-size: cover;
  width: 100%;
  height: 50px;
  position: fixed;
  justify-content: end;
  align-items: center;
  z-index: 10;
  font-size: 13px;
  position: relative;
}
.header-mb-logo {
  position: absolute;
  top: 15px;
  left: 15px;
}
.header-mb-logo > img {
  width: 80px
}
.header-mb > * {
  margin-right: 5px;
}
.btn-download {
  font-size: 11px;
  background: url('../images/img-bnt-header.png') no-repeat;
  background-size: 100% 100%;
  color: #ffe2c4;
  width: 65px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.btn-page {
  width: 30px;
  height: 26px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.btn-page.face {
  background-image: url('/assets/images/img-face-mobile.png');
}
.btn-page.home {
  background-image: url('/assets/images/img-home-mobile.png');
}
.btn-bar {
  width: 40px;
  height: 40px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background-color: #170017;
  margin-right: 0px;
}
.btn-bar::before {
  content: '';
  position: relative;
  width: 33px;
  height: 29px;
  cursor: pointer;
  z-index: 1;
  background: url('/assets/images/hamburger.png') no-repeat center center;
}
.sidebar {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: url('/assets/images/bg-ham.jpg') center top no-repeat;
  background-size: 100% 100%;
  z-index: 100;
  flex-direction: column;
}
#sidebar:checked + .sidebar {
  display: flex;
}
.sidebar .title {
  display: flex;
  justify-content: end;
  padding: 10px;
}
.sidebar .btn-close {
  width: 30px;
  height: 30px;
  background: url('/assets/images/close-ham.png') center no-repeat;
  background-size: 100% 100%;
  z-index: 101;
  display: block;
}
.sidebar .body {
  padding: 0px 40px;
  flex: 1 1 auto;
}
.sidebar .body > div:not(:nth-child(1)) {
  margin-top: 20px;
}
.sidebar .body a {
  font-size: 1.5rem;
  color: #ffffff
}
.sidebar-footer {
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-bottom: 30px;
}
.sidebar-footer-button {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-right: 20px;
}
.sidebar-footer-button.fb{
  background-image: url('/assets/images/fb.webp');
}
.sidebar-footer-button.twitter{
  background-image: url('/assets/images/Twitter-logo.svg.png');
}
.sidebar-footer-button.yt{
  background-image: url('/assets/images/icon-youtube.png');
}
@media only screen and (max-width: 1024px) {
  .right-panel {
    display: none;
  }
  .plan-item {
      width: 188px;
      height: 208px;
      background-size: contain;
  }
  .plan-item-text, .plan-item::after{
    font-size: 23px;
    width: 74px;
    line-height: 33px;
    margin-right: 43px;
    margin-top: 15px;
  }
  #canvas_f2, #canvas {
    display: none;
  }
  .slogan{
    width: 31%;
    height: auto;
    margin: 25% auto 0;
  }
  .slogan img {
    width: 100%;
    display: block;
  }
  .frame-1 .date {
    opacity: 1;
    transition: all 0.5s ease;
    height: 100%;
    z-index: 1;
  }
  .date .title {
    width: 271px;
  }
  .date .title .text {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 800px) {
  .plan-item{
    width: 170px;
    height: 190px;
  }
  .plan-item-text, .plan-item::after{
    font-size: 21px;
    width: 70px;
    line-height: 28px;
    margin-right: 34px;
    margin-top: 19px;
  }
  .footer .logo img {
    width: 90%;
  }
  .slogan {
    width: 36%;
    margin: 29% auto 0;
  }
}
@media only screen and (max-width: 680px){
  .slogan {
    margin: 39% auto 0;
  }
  .header .logo img {
    display: none;
  }
  .frame-1 {
    background: unset;
  }
  .sm-flex {
    display: flex;
  }
  .plan-item {
    width: 155px;
    height: 172px;
  }
  .plan-item-text, .plan-item::after{
    font-size: 18px;
    width: 65px;
    right: -10px;
    line-height: 26px;
    margin-top: 19px;
  }
  .download-item {
    font-size: 15px;
    width: 112px;
    height: 36px;
    line-height: 34px;
    
  }
  .wrapper-frame-2 > .wrapper-frame-item {
    width: 100%;
  }
  .support-item {
    width: unset;
    height: unset;
  }
  .suppor-wrapper > *:not(:nth-child(1)) {
    margin-left: 15px;
  }
  .frame-3 .prev-slide{
    left: 0px;
    transform: translateY(-50%);
  }
  .frame-3 .next-slide{
    right: 0px;
    transform: translateY(-50%);
  }
  .sm-hidden {
    display: none;
  }
  .frame-3 .badge-title {
    width: 320px;
    height: 40px;
    font-size: 1.25rem;
  }
  .date .title {
    width: 240px;
    background-size: contain;
  }
  .date .title .text {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .wrapper-frame-item > .header > .header-item {
    font-size: 1rem;
  }
  .content-news > div {
    font-size: 1.1rem;
  }
  .date .title {
    width: 180px;
    height: 83px;
  }
  .date .title .text {
    line-height: 83px;
  }
  .date .title::before, .date .title::after {
    background-size: contain;
    width: 41px;
    height: 87px;
  }
}

@media only screen and (max-width: 414px) {
  .plan-item {
    width: 117px;
    height: 130px;
  }
  .plan-item::before{
    width: 60px;
    height: 120px;
    background-size: contain;
    top: 0px;
  }
  .plan-item-text, .plan-item::after{
    line-height: 20px;
    right: -20px;
  }
  .frame-3 .badge-title {
    width: 100%;
  }
  .footer .logo img {
    width: 60px;
  }
  .wrapper-frame-item > .header > .header-item {
    font-size: 14px;
  }
}
@media only screen and (max-width: 375px){
  .download-item {
    font-size: 15px;
    line-height: 30px;
    width: 80px;
    height: 32px;
  }
  .plan-item {
    width: 90px;
    height: 130px;
  }
  .plan-item-text, .plan-item::after{
    font-size: 14px;
    top: -10px;
    width: 40px;
  }
  .plan-item::before{
    width: 40px;
    height: 80px;
    background-size: contain;
    top: 0px
  }
  
}
@media only screen and (max-width: 1030px){
  body {
      background: url('/assets/images/img-bg-mobile.jpg') no-repeat center top #1b1b23;
      background-size: 100% auto;
  }
}
@media only screen and (max-width: 991px){
  body {
      background-size: 120% auto;
  }
}
@media only screen and (max-width: 768px){
  body {
      background-size: 140% auto;
  }
}